.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 7rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
  border-radius: 20%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

button {
  display: block;
  margin: auto;
  width: 20%;
  height: 5rem;
  margin-top: 30px;
  border-radius: 10px;
  font-size: 3rem;
  font-family: 'Indie Flower', cursive;
  background-color: #4ECCA3;
  border-color: rgb(50, 50, 50);
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.5);
}

button:active {
  transform: translate(2px, 1px);
}
